
CREATE TABLE IF NOT EXISTS django_migrations ( id SERIAL PRIMARY KEY, app varchar(255) NOT NULL, name varchar(255) NOT NULL, applied datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2023-02-01 04:47:08.801374');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2023-02-01 04:47:08.847765');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2023-02-01 04:47:08.877950');
CREATE TABLE IF NOT EXISTS auth_group_permissions (   id SERIAL PRIMARY KEY, group_id integer NOT NULL REFERENCES auth_group (id) DEFERRABLE INITIALLY DEFERRED, permission_id integer NOT NULL REFERENCES auth_permission (id) DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS auth_user_groups (   id SERIAL PRIMARY KEY, user_id integer NOT NULL REFERENCES auth_user (id) DEFERRABLE INITIALLY DEFERRED, group_id integer NOT NULL REFERENCES auth_group (id) DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS auth_user_user_permissions (   id SERIAL PRIMARY KEY, user_id integer NOT NULL REFERENCES auth_user (id) DEFERRABLE INITIALLY DEFERRED, permission_id integer NOT NULL REFERENCES auth_permission (id) DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS django_admin_log (
    id SERIAL PRIMARY KEY,
    object_id text NULL,
    object_repr varchar(200) NOT NULL,
    action_flag smallint NOT NULL CHECK (action_flag >= 0),
    change_message text NOT NULL,
    content_type_id integer NULL REFERENCES django_content_type (id) DEFERRABLE INITIALLY DEFERRED,
    user_id integer NOT NULL REFERENCES auth_user (id) DEFERRABLE INITIALLY DEFERRED,
    action_time TIMESTAMP NOT NULL
);

INSERT INTO django_admin_log VALUES(1,'1','Rupal Shah',1,'[{"added": {}}]',18,1,'2023-04-04 15:15:39.316944');
INSERT INTO django_admin_log VALUES(2,'2','Vishal Kumar',1,'[{"added": {}}]',18,1,'2023-04-04 15:16:25.387791');
INSERT INTO django_admin_log VALUES(3,'1','Rupal Shah',1,'[{"added": {}}]',19,1,'2023-04-04 15:17:41.671802');
CREATE TABLE IF NOT EXISTS django_content_type (
    id SERIAL PRIMARY KEY,
    app_label varchar(100) NOT NULL,
    model varchar(100) NOT NULL
);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS auth_permission (
    id SERIAL PRIMARY KEY,
    content_type_id integer NOT NULL REFERENCES django_content_type (id) DEFERRABLE INITIALLY DEFERRED,
    codename varchar(100) NOT NULL,
    name varchar(255) NOT NULL
);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS auth_group (
    id SERIAL PRIMARY KEY,
    name varchar(150) NOT NULL UNIQUE
);

CREATE TABLE IF NOT EXISTS auth_user (
    id SERIAL PRIMARY KEY,
    password VARCHAR(128) NOT NULL,
    last_login TIMESTAMP NULL,
    is_superuser BOOLEAN NOT NULL,
    username VARCHAR(150) NOT NULL UNIQUE,
    last_name VARCHAR(150) NOT NULL,
    email VARCHAR(254) NOT NULL,
    is_staff BOOLEAN NOT NULL,
    is_active BOOLEAN NOT NULL,
    date_joined TIMESTAMP NOT NULL,
    first_name VARCHAR(150) NOT NULL
);

INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$390000$HG2QtjvBdKPdQDOb9KdUbD$z0LER5MyffEg3xEdzGkJb82g7O6Hx4BIprMSk7zGII0=','2025-09-12 12:14:55.149951',1,'rupal','','shah17rupal@gmail.com',1,1,'2023-02-01 04:47:45.754632','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('w1w2z8n3sl2me6n6ojxcvt1wui6gjg0z','.eJxVjMsOwiAQRf-FtSE8pAWX7v0GMsMMUjWQlHZl_HdD0oVu7znnvkWEfStx77zGhcRFaHH63RDSk-sA9IB6bzK1uq0LyqHIg3Z5a8Sv6-H-HRToZdTsHKGfNWjU5NFM50Aze5ODzgq9pxwsUULD1rCyOTMby1pNAFYFJz5fAMY4kQ:1pN536:-W6-nv95k-O3ZvhY6ClK6Tq326VFxsjPLHUCDV8SQi4','2023-02-15 04:48:44.212139');
INSERT INTO django_session VALUES('piscz92qn1xhirc6f23enxi0a4h40pue','.eJxVjMsOwiAQRf-FtSE8pAWX7v0GMsMMUjWQlHZl_HdD0oVu7znnvkWEfStx77zGhcRFaHH63RDSk-sA9IB6bzK1uq0LyqHIg3Z5a8Sv6-H-HRToZdTsHKGfNWjU5NFM50Aze5ODzgq9pxwsUULD1rCyOTMby1pNAFYFJz5fAMY4kQ:1peY8u:ha4f9Z1K-h6YcTQaqplEf51tT5DpBXn95UWL-JpmTTo','2023-04-04 09:18:56.774117');
INSERT INTO django_session VALUES('j6v2w0hzundu18fxsz82yrox8ar5tbg6','.eJxVjMsOwiAQRf-FtSE8pAWX7v0GMsMMUjWQlHZl_HdD0oVu7znnvkWEfStx77zGhcRFaHH63RDSk-sA9IB6bzK1uq0LyqHIg3Z5a8Sv6-H-HRToZdTsHKGfNWjU5NFM50Aze5ODzgq9pxwsUULD1rCyOTMby1pNAFYFJz5fAMY4kQ:1pgjLw:WqaPXUff_Q2DsjZIilSqwLDrvP-UWUU006TvXX9jp-4','2023-04-10 09:41:24.349352');
CREATE TABLE IF NOT EXISTS announcements_announcements (
    id SERIAL PRIMARY KEY,
    title VARCHAR(500) NOT NULL,
    description VARCHAR(5000) NOT NULL,
    link VARCHAR(200) NOT NULL
);
INSERT INTO announcements_announcements VALUES(4,'Department UG orientation','At Sandipani Seminar Hall from 16:00h today (16th August 2023)','');
INSERT INTO announcements_announcements VALUES(5,'Achievement of Prof. Mukesh Kumar','Prof. Mukesh Kumar has been selected for the "Scientific High-Level Visiting Fellowship (SSHN)" to visit France.','');
INSERT INTO announcements_announcements VALUES(6,'EESA Launched','The Electrical Engineering Students Association was launched on Aug 16th 2023','');
CREATE TABLE IF NOT EXISTS research_projects (
    id SERIAL PRIMARY KEY,
    title VARCHAR(500) NOT NULL,
    funding VARCHAR(500) NOT NULL,
    duration VARCHAR(50) NOT NULL,
    project_type VARCHAR(500) NOT NULL,
    worker VARCHAR(500) NOT NULL
);

INSERT INTO research_projects VALUES(1,'Detection of human brain disorders using novel machine learning approaches','31,26,240','36, Jan. 2018-Jan. 2021','CSIR','Prof. Ram Bilas Pachori');
INSERT INTO research_projects VALUES(2,'A multi-class computeraided system for diagnosis of cardiovascular disease using non-invasively measured cardiac signals','10,46,000','21, Jun. 2019-Sep. 2020','TEQIP Collaborative Research Scheme, National Project Implementation Unit (NPIU), Government of India','Prof. Ram Bilas Pachori');
INSERT INTO research_projects VALUES(3,'Development of a portable acoustic sensor based canine pregnancy detection system and biomarker-based canine pregnancy test kit','30,00,000','24, Mar. 2018- Mar. 2020','Department of Biotechnology','Prof. Ram Bilas Pachori');
CREATE TABLE IF NOT EXISTS events_events (
    id SERIAL PRIMARY KEY,
    description VARCHAR(1000) NOT NULL,
    date INTEGER NOT NULL,
    month VARCHAR(50) NOT NULL,
    day VARCHAR(15) NOT NULL,
    time TIME NOT NULL,
    link VARCHAR(200) NOT NULL,
    title TEXT NOT NULL,
    image VARCHAR(100) NULL
);
INSERT INTO events_events VALUES(4,'Electrical Department Orientation for the new batch of PG students was held on 26th July 2023.',26,'July','Wednesday','16:00:00','','Electrical Department PG Orientation','images/pg.jpeg');
INSERT INTO events_events VALUES(5,'Electrical Department Orientation for the fresh UG Student batch was held on 16th August 2023.',16,'August','Wednesday','16:00:00','','Electrical Department UG Orientation','images/ug.jpeg');
INSERT INTO events_events VALUES(9,'The association was formally inaugrated by HOD-EE on August 16th 2023',16,'August','Wednesday','17:00:00','','EESA Inauguration','images/eesa.jpeg');
CREATE TABLE IF NOT EXISTS research_papers (
    id SERIAL PRIMARY KEY,
    year INTEGER NOT NULL,
    person VARCHAR(500) NOT NULL,
    paper VARCHAR(500) NOT NULL
);

CREATE TABLE IF NOT EXISTS research_research (
    id SERIAL PRIMARY KEY,
    specialization VARCHAR(50) NOT NULL,
    description VARCHAR(10000) NOT NULL,
    person VARCHAR(500) NOT NULL,
    name VARCHAR(500) NOT NULL,
    link VARCHAR(200) NOT NULL
);

INSERT INTO research_research VALUES(63,'signal','Time-frequency analysis is a signal processing approach that analyses signals in both the time and frequency domains. It permits more precise analysis of non-stationary signals by breaking a signal into its basic frequency components as they vary over time, and has wide applications in domains such as audio analysis, picture processing, and neurology.','Dr. Ram Bilas Pachori','Time-Frequency Analysis','');
INSERT INTO research_research VALUES(64,'signal','Speech signal processing research is concerned with analysing and improving the quality of speech signals through the use of various techniques such as noise reduction, voice enhancement, speaker identification, and speech recognition. Telecommunications, audio coding, speech therapy, and human-computer interaction are all examples of uses in this subject. Continuous research is being conducted to increase the accuracy and efficiency of speech processing systems.','Dr. Ram Bilas Pachori','Speech Signal Processing','');
CREATE TABLE IF NOT EXISTS research_uglabs (
    id SERIAL PRIMARY KEY,
    name VARCHAR(1000) NOT NULL,
    experiments JSONB NULL,
    equipments JSONB NULL,
    image VARCHAR(100) NULL
);
INSERT INTO research_uglabs VALUES(2,'Control System Laboratory','{"experiments": ["Speed Control of DC Motor", "Speed Control of DC Motor using PID Control", "Open-loop Process Response to Sine Input", "Closed Loop Control PID set point : steady state and transient response", "PID with ramp process disturbance", "Lead/Lag Compensator First and Second Order"]}','{"equipments": ["Computer Systems", "NI-ELVIS QNET Kits", "Lab view Software", "PID Control Trainers"]}','images/Control_Lab.jpg');
CREATE TABLE IF NOT EXISTS research_pglabs (
    id SERIAL PRIMARY KEY,
    name VARCHAR(5000) NOT NULL,
    description VARCHAR(10000) NOT NULL,
    person VARCHAR(500) NOT NULL,
    link VARCHAR(200) NOT NULL,
    location VARCHAR(5000) NOT NULL,
    area VARCHAR(5000) NOT NULL,
    category VARCHAR(50) NOT NULL,
    equipments JSONB NULL,
    image VARCHAR(100) NULL,
    keywords VARCHAR(10000) NOT NULL,
    review JSONB NULL
);

CREATE TABLE IF NOT EXISTS achievements_books (
    id SERIAL PRIMARY KEY,
    year INTEGER NOT NULL,
    name VARCHAR(5000) NOT NULL,
    author VARCHAR(5000) NULL,
    image VARCHAR(100) NULL,
    publication VARCHAR(5000) NULL
);

INSERT INTO achievements_books VALUES(1,2023,'Time-frequency Analysis Techniques and Their Applications','R. B. Pachori','images/3.png','CRC Press');
INSERT INTO achievements_books VALUES(2,2023,'Machine Intelligence Techniques for Data Analysis and Signal Processing','D. S. Sisodia, L. Garg, R. B. Pachori, and M. Tanveer','images/4.png','Springer');
INSERT INTO achievements_books VALUES(3,2022,'AI-Enabled Smart Healthcare Using Biomedical Signals,','R. K. Chaurasiya, D. K. Agrawal, and R. B. Pachori','images/5.png','IGI Global');
CREATE TABLE IF NOT EXISTS achievements_facultyawards (
    id SERIAL PRIMARY KEY,
    year INTEGER NOT NULL,
    name VARCHAR(5000) NOT NULL,
    image VARCHAR(100) NULL,
    award VARCHAR(5000) NULL
);

INSERT INTO achievements_facultyawards VALUES(10,2014,'Prof. Vivek Kanhangad','','Awarded the Best Iris Liveness Detection with Portable Devices Competition, International Joint Conference on Biometrics (IJCB 2014), Florida.');
INSERT INTO achievements_facultyawards VALUES(11,2014,'Prof. Trapti Jain','','ΓÇ£Impacts of G2V and V2G power on electricity demand profileΓÇ¥ received the best paper award at the 2014 IEEE International Electric Vehicle Conference (IEEE ICVE 2014) held at Florence, Italy.');
INSERT INTO achievements_facultyawards VALUES(12,2015,'Prof. Prabhat Kumar Upadhyay','','Outstanding Reviewer for AEUE ΓÇô International Journal of Electronics and Communications, Elsevier, Amsterdam, September 2015');
CREATE TABLE IF NOT EXISTS achievements_studentawards (
    id SERIAL PRIMARY KEY,
    year INTEGER NOT NULL,
    name VARCHAR(5000) NOT NULL,
    award VARCHAR(5000) NULL,
    image VARCHAR(100) NULL,
    roll_no INTEGER NULL
);
INSERT INTO achievements_studentawards VALUES(6,2013,'Ankit Goyal','The President of India Gold Medalist','',900227);
INSERT INTO achievements_studentawards VALUES(8,2013,'Anamika Patel','Departmental Silver Medalist','',900202);
INSERT INTO achievements_studentawards VALUES(9,2014,'Kotha Samhitha Reddy','The President of India Gold Medalist','',1000323);
CREATE TABLE IF NOT EXISTS news_news (
    id SERIAL PRIMARY KEY,
    description VARCHAR(1000) NOT NULL,
    date INTEGER NOT NULL,
    link VARCHAR(200) NOT NULL,
    day VARCHAR(15) NOT NULL,
    month VARCHAR(50) NOT NULL,
    time TIME NOT NULL,
    title TEXT NOT NULL
);

INSERT INTO news_news VALUES(7,'The EESA was launched.',16,'','Wednesday','August','17:00:00','Electrical Engineering Students Association (EESA) Launched');
INSERT INTO news_news VALUES(8,'Commencement of classes for the newly arrived 2023 batch begins.',9,'','Wednesday','August','08:30:00','Classes for 2023 Batch');
INSERT INTO news_news VALUES(9,'Autumn Semester of 2023 for the students on roll begins.',26,'','Wednesday','July','08:30:00','Autumn Semester of 2023');
CREATE TABLE IF NOT EXISTS people_alumni (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    roll_no VARCHAR(50) NOT NULL,
    program VARCHAR(10000) NOT NULL,
    date VARCHAR(50) NOT NULL,
    image VARCHAR(100) NULL,
    year INTEGER NOT NULL
);
INSERT INTO people_alumni VALUES(451,'ABHINAV HIMANSHU','140002001','B.Tech.','May-18','',2014);
INSERT INTO people_alumni VALUES(452,'ADDEPALLI HARI NARAYANA','140002002','B.Tech.','May-18','',2014);
INSERT INTO people_alumni VALUES(453,'AKSHAY JOSHI','140002003','B.Tech.','May-18','',2014);
CREATE TABLE IF NOT EXISTS people_btech (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    roll_no VARCHAR(50) NOT NULL,
    image VARCHAR(100) NULL,
    year INTEGER NOT NULL
);
INSERT INTO people_btech VALUES(5,'Aadarsh Ranjan','220002001','images/220002001.jpg',2022);
INSERT INTO people_btech VALUES(6,'Aashish Mohan','220002002','images/220002002.jpg',2022);
INSERT INTO people_btech VALUES(7,'Aditya Singh','220002003','images/220002003.jpg',2022);
CREATE TABLE IF NOT EXISTS people_mtech (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    roll_no VARCHAR(50) NOT NULL,
    image VARCHAR(100) NULL,
    year INTEGER NOT NULL
);
INSERT INTO people_mtech VALUES(1,'EMANI NAGA SESHA SAI ANJANA','2202102002','images/image013.png',2022);
INSERT INTO people_mtech VALUES(3,'CHANDA SUCHARITHA','2202102004','images/image017_2RUQ4MO.png',2022);
INSERT INTO people_mtech VALUES(4,'EGU DHEERAJ KUMAR','2202102005','images/image019_MtYq5kw.png',2022);
CREATE TABLE IF NOT EXISTS people_phd (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    roll_no VARCHAR(50) NOT NULL,
    image VARCHAR(100) NULL,
    details VARCHAR(1000) NOT NULL,
    year INTEGER NOT NULL
);
INSERT INTO people_phd VALUES(1,'Narendra Singh Dhakad','1901202004','images/1901202004.jpg','Micro/Nano Electronics',2019);
INSERT INTO people_phd VALUES(2,'Neha Maheshwari','2101102009','images/2101102009.jpg','Micro/Nano Electronics',2021);
INSERT INTO people_phd VALUES(3,'Vasundhara Trivedi','2101202007','images/2101202007.jpg','Micro/Nano Electronics',2021);
CREATE TABLE IF NOT EXISTS people_staff (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    title VARCHAR(50) NOT NULL,
    email VARCHAR(254) NOT NULL,
    image VARCHAR(100) NULL,
    phone VARCHAR(16) NOT NULL
);
INSERT INTO people_staff VALUES(1,'Mr. Ravindra Chouhan','Senior Lab Assistant','cravindra@iiti.ac.in','images/Ravindra.JPG','5132');
INSERT INTO people_staff VALUES(2,'Mr. Raghvendra Hanswal','Senior Lab Assistant','raghvendra@iiti.ac.in','images/raghuvendra.JPG','3599');
INSERT INTO people_staff VALUES(3,'Mr. Raju Singh Dawer','Junior Lab Assistant','rajudawer@iiti.ac.in','images/Raju.JPG','----');
CREATE TABLE IF NOT EXISTS course_coursenew (
    id SERIAL PRIMARY KEY,
    program VARCHAR(50) NOT NULL,
    elective BOOLEAN NOT NULL,
    semester INTEGER NOT NULL,
    code VARCHAR(10) NOT NULL,
    credit REAL NOT NULL,
    ltp VARCHAR(10) NOT NULL,
    name VARCHAR(100) NOT NULL
);
INSERT INTO course_coursenew VALUES(5,'BTech',0,1,'ME 101',2.0,'2-0-0','Engineering Mechanics');
INSERT INTO course_coursenew VALUES(6,'BTech',0,1,'CH 105',3.0,'3-0-0','Chemistry');
INSERT INTO course_coursenew VALUES(8,'BTech',0,1,'CH 155',1.0,'0-0-2','Chemistry Lab');
CREATE TABLE IF NOT EXISTS course_course (
    id SERIAL PRIMARY KEY,
    program VARCHAR(50) NOT NULL,
    semester INTEGER NOT NULL,
    code VARCHAR(10) NOT NULL,
    credit REAL NOT NULL,
    ltp VARCHAR(10) NOT NULL,
    name VARCHAR(100) NOT NULL
);
INSERT INTO course_course VALUES(560,'BTech',1,'BSE 102',3.0,'2-1-0','Bio-Sciences');
INSERT INTO course_course VALUES(561,'BTech',1,'MA 105',4.0,'3-1-0','Calculus');
INSERT INTO course_course VALUES(562,'BTech',1,'PH 106',3.0,'2-1-0','Physics-II');
CREATE TABLE IF NOT EXISTS people_ms (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    roll_no VARCHAR(50) NOT NULL,
    image VARCHAR(100) NULL,
    year INTEGER NOT NULL
);
INSERT INTO people_ms VALUES(1,'CHITTIPROLU SAI GANESH','2204102001','images/image001.png',2022);
INSERT INTO people_ms VALUES(2,'ANKITKUMAR VIPULKUMAR PATEL','2204102005','images/image002.png',2022);
INSERT INTO people_ms VALUES(3,'GULREZ KHAN LODI','2204102007','images/image005.png',2022);
CREATE TABLE IF NOT EXISTS course_elective (
    id SERIAL PRIMARY KEY,
    code VARCHAR(30) NOT NULL,
    program VARCHAR(60) NOT NULL,
    credit REAL NOT NULL,
    ltp VARCHAR(10) NOT NULL,
    name VARCHAR(100) NOT NULL
);
INSERT INTO course_elective VALUES(27,'EE 410 / EE 610','BTech',3.0,'2-1-0','Power Electronics Applications to Power Transmission');
INSERT INTO course_elective VALUES(28,'EE 411','BTech',3.0,'2-1-0','Communication System Theory');
INSERT INTO course_elective VALUES(29,'EE 412 / EE 612','BTech',3.0,'2-1-0','Digital Communication Systems');
CREATE TABLE IF NOT EXISTS achievements_patent (
    id SERIAL PRIMARY KEY,
    name VARCHAR(5000) NOT NULL,
    pi VARCHAR(5000) NULL,
    uuid VARCHAR(5000) NULL,
    status VARCHAR(5000) NULL,
    year VARCHAR(50) NOT NULL
);
INSERT INTO achievements_patent VALUES(1,'A remote pregnancy detection and monitoring device for mammal with multiple foetuses','D. Nayak, R.B. Pachori, G. Banda, S.D. Choudhari, and S. Neema','202121016255','Granted','Oct. 2022');
INSERT INTO achievements_patent VALUES(2,'Apparatus, systems and methods for quality-aware energy-efficient PPG signal analysis and cardiovascular disease diagnosis and prediction','R.B. Pachori, M.S. Manikandan, and J. Varghese V','202221075607','Filed','Dec. 2022');
INSERT INTO achievements_patent VALUES(3,'Systems and methods for contextual information aware physiological parameter analysis and intelligent human disease prediction','R.B. Pachori, M.S. Manikandan, and N. Phukan','202221075605','Filed','Dec. 2022');
CREATE TABLE IF NOT EXISTS people_faculty (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    title VARCHAR(50) NOT NULL,
    email VARCHAR(254) NOT NULL,
    details VARCHAR(10000) NOT NULL,
    address VARCHAR(500) NOT NULL,
    link VARCHAR(200) NOT NULL,
    image VARCHAR(100) NULL,
    subtitle VARCHAR(50) NOT NULL,
    place VARCHAR(50) NOT NULL,
    phone VARCHAR(30) NOT NULL
);
INSERT INTO people_faculty VALUES(44,'Prof. Vivek Kanhangad','Professor','kvivek@iiti.ac.in','Biometrics, Digital Signal and Image Processing','306, Pod 1A','https://home.iiti.ac.in/kvivek/','images/vivek.JPG','Head of the Department','The Hong Kong Polytechnic University','(+91)-660-3275-(Extn: 3270)');
INSERT INTO people_faculty VALUES(45,'Prof. Amod C. Umarikar','Professor','amodu@iiti.ac.in','High Step-Up DC-DC Converters, Integration of Renewable Energy Sources to Grid, Power Quality Analysis and Monitoring','317, Pod 1A','http://people.iiti.ac.in/~umarikar','images/Amod.JPG','Associate Dean Faculty Affairs (ADoFA)','IISc Bangalore','(+91)-660-3275-(Extn: 3268)');
INSERT INTO people_faculty VALUES(46,'Prof. Ram Bilas Pachori','Professor','pachori@iiti.ac.in','Signal and Image Processing, Biomedical Signal Processing, Non-Stationary Signal Processing, Speech Signal Processing, Brain-Computer Interfacing, Machine Learning, Artificial Intelligence (AI) and Internet of Things (IoT) in Healthcare','316, Pod 1A','http://people.iiti.ac.in/~pachori','images/pachori.JPG','','IIT Kanpur','(+91)-660-3275-(Extn: 3273)');
CREATE TABLE IF NOT EXISTS banana_banana (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    price INTEGER NOT NULL
);
INSERT INTO banana_banana VALUES(1,'rupal',12);
CREATE TABLE IF NOT EXISTS reads_reads (
    id SERIAL PRIMARY KEY,
    title VARCHAR(100) NOT NULL,
    content TEXT NOT NULL,
    author VARCHAR(100) NOT NULL
);
INSERT INTO sqlite_sequence VALUES('django_migrations',75);
INSERT INTO sqlite_sequence VALUES('django_admin_log',3462);
INSERT INTO sqlite_sequence VALUES('django_content_type',32);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");

